<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ramnik_singh.attendanceplus_teacher">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.ramnik_singh.attendanceplus_teacher.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.ramnik_singh.attendanceplus_teacher.RegisterActivity" />
        <activity android:name="com.example.ramnik_singh.attendanceplus_teacher.StudentProfileActivity" />
        <activity android:name="com.example.ramnik_singh.attendanceplus_teacher.StudentDashboard" />
        <activity android:name="com.example.ramnik_singh.attendanceplus_teacher.TeacherDashboard"></activity>
        <!--<activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="android:screenOrientation"
            android:stateNotNeeded="true"/ -->
    </application>

</manifest>